<div ng-repeat="programa in programas | orderBy: fecha | filter: search " class="col s12 m6 wow fadeInUpBig">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="img/{{ programa.tipo }}.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ programa.nombre | limitTo: 16}}<i class="mdi-hardware-keyboard-arrow-up right"></i>
            </span>
            <p>
              <a href=".{{ programa.url }}"  class="red darken-2 white-text waves-effect waves-light btn-large"><i class="mdi-file-cloud-download right"></i> Descargar</a>
            </p>
          </div>
          <div class="card-reveal grey-text text-darken-3">
              <span class="card-title grey-text text-darken-4">{{ programa.nombre }} <i class="mdi-navigation-close right"></i></span>
              <p>{{ programa.resumen | limitTo: 80}} ...</p>
              <div class="section">
                <p><i class="mdi-action-label"></i> {{ programa.tipo }}</p>
                <div class="divider"></div>
                <p><i class="mdi-device-access-time"></i> Subido:{{ programa.fecha | date }}</p>
                <div class="divider"></div>
                <strong><i class="mdi-action-star-rate"></i> {{ programa.rating }} Descargas</strong>
                <div class="divider"></div>
                <p><a href=".{{ programa.url }}"  class="red darken-2 white-text waves-effect waves-light btn-large"><i class="mdi-file-cloud-download right"></i> Descargar</a></p>
            </div >
          </div>
    </div>
</div>
