<div id="loginModal" class="modal modal-fixed-footer">
  <h1 ng-hide="registrer" class="center-algin">Accede a Spartan</h1>
  <h1 ng-show="registrer" class="center-algin">Bienvenido a Spartan</h1>
  <form class="col s12" ng-submit="processForm()">
    <div class="container">
      <div class="modal-content">
      <h4 class="flow-text red-text center-align" ng-show="message">{{ message.message[0] }}</h4>
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-action-account-circle prefix"></i>
            <input id="userName" type="text" class="validate" ng-model="username" required name="username">
            <label for="userName">Nombre de Usuario</label>
          </div>

          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="userPassword" type="password" class="validate" required ng-model="password" name="password">
            <label for="userPassword">Contraseña</label>
          </div>
        </div>
        </div>
        </div>

        <div class="modal-footer">
          <div class="row">
            <div class="col s12">
              <a href="#" class="btn waves-effect waves-red red btn-large btn-block"><i class="mdi-action-account-child left"></i> Acceder</a>
         </div>
        </div>
    </div>
  </form>
</div>
